.parallax.homePage{:style => "display:table; height:70%;"}
  %img{:alt => "heroHomePage"}
#content.homepage
  .container.theme-showcase{:role => "main"}
    .row
      .col-md-offset-2.col-md-8
        %p
          %b> Attenzione
          \: questo sito è dedicato al programma di formazione
          %b TO THE TOP 2017
          riservato ai
          = succeed "." do
            %b Consulenti Finanziari di IWBank Private Investments
          %br/
          L'accesso è consentito tramite la piattaforma info-formativa per
          %b
            Esperti di Valore
            %b
              %a{:href => "http//www.cfiwbank.it", :style => "color:#333"} www.cfiwbank.it
      %b
        %b
    %b
      %b
  %b
    %b
      %footer
        .extendWrapper.loghi
          .container
            .row
              .col-md-12
                %small In collaborazione con:
                %br/
                %img{:alt => "Alessia", :src => "/assets/Alessia.png"}/
                %img{:alt => "Allianz Global", :src => "/assets/Allianz-Global-Investors-Logo.svg.png"}/
                %img{:alt => "Anima", :src => "/assets/anima.png"}/
                %img{:alt => "aviva", :src => "/assets/aviva.png"}/
                %img{:alt => "Axa", :src => "/assets/axa.png"}/
                %img{:alt => "Fidelity", :src => "/assets/Fidelity.png"}/
                %img{:alt => "Pictet", :src => "/assets/Pictet.png"}/
        .extendWrapper
          .container
            .row
              .col-md-6.col-xs-6 Copyright © 2017 IWBank S.p.A.
              .col-md-6.col-xs-6.text-right
                %a{:href => "https://www.iwbank.it/privacy", :target => "_blank"} Privacy
