#content.pageWrapper
  .extendWrapper
    .container
      .row
        .col-md-12
          #Loading{:style => "opacity: 0;"}
            .spinner
              .rect1
              .rect2
              .rect3
              .rect4
              .rect5
          #now
          #House{:style => "width: 100%; overflow: auto; height: 162px;"}
            .piano
              %img.imgResp{:src => "/assets/flor-last.png"}/
              .posizione{:style => "top: 112.5px;"}
                %span.chart # 1
                %span.user Nome Cognome
                %span.score 13800
                %span.triangle.up 2
                %span.circle.green
                %span.circle.green
                %span.circle.green
                %span.circle.green
            .piano
              %img.imgResp{:src => "/assets/flor.png"}/
              .posizione{:style => "top: 112.5px;"}
                %span.chart # 2
                %span.user Nome Cognome
                %span.score 11000
                %span.triangle.down 1
                %span.circle.green
                %span.circle.green
                %span.circle.red
                %span.circle.green
            .piano
              %img.imgResp{:src => "/assets/flor.png"}/
              .posizione{:style => "top: 112.5px;"}
                %span.chart # 3
                %span.user Nome Cognome
                %span.score 11000
                %span.triangle.down 1
                %span.circle.green
                %span.circle.red
                %span.circle.green
                %span.circle.yellow
            .piano
              %img.imgResp{:src => "/assets/flor.png"}/
              .posizione{:style => "top: 112.5px;"}
                %span.chart # 4
                %span.user Nome Cognome
                %span.score 11000
                %span.triangle.down 1
                %span.circle.green
                %span.circle.red
                %span.circle.green
                %span.circle.red
            .piano
              %img.imgResp{:src => "/assets/flor.png"}/
              .posizione{:style => "top: 112.5px;"}
                %span.chart # 5
                %span.user Nome Cognome
                %span.score 11000
                %span.triangle.down 1
                %span.circle.green
                %span.circle.red
                %span.circle.green
                %span.circle.yellow
            .piano
              %img.imgResp{:src => "/assets/flor.png"}/
              .posizione{:style => "top: 112.5px;"}
                %span.chart # 6
                %span.user Nome Cognome
                %span.score 11000
                %span.triangle.up 2
                %span.circle.green
                %span.circle.red
                %span.circle.green
                %span.circle.yellow
            .piano
              %img.imgResp{:src => "/assets/flor.png"}/
              .posizione{:style => "top: 112.5px;"}
                %span.chart # 7
                %span.user Nome Cognome
                %span.score 11000
                %span.triangle.down 1
                %span.circle.green
                %span.circle.red
                %span.circle.green
                %span.circle.yellow
            .piano
              %img.imgResp{:src => "/assets/flor.png"}/
              .posizione{:style => "top: 112.5px;"}
                %span.chart # 8
                %span.user Nome Cognome
                %span.score 11000
                %span.triangle.down 1
                %span.circle.green
                %span.circle.red
                %span.circle.green
                %span.circle.yellow
            .piano
              %img.imgResp{:src => "/assets/flor.png"}/
              .posizione{:style => "top: 112.5px;"}
                %span.chart # 9
                %span.user Nome Cognome
                %span.score 11000
                %span.triangle.up 4
                %span.circle.green
                %span.circle.red
                %span.circle.green
                %span.circle.yellow
            .piano
              %img.imgResp{:src => "/assets/flor.png"}/
              .posizione{:style => "top: 112.5px;"}
                %span.chart # 10
                %span.user Nome Cognome
                %span.score 11000
                %span.triangle.down 1
                %span.circle.green
                %span.circle.red
                %span.circle.green
                %span.circle.yellow
            .piano
              %img.imgResp{:src => "/assets/flor.png"}/
              .posizione{:style => "top: 112.5px;"}
                %span.chart # 11
                %span.user Nome Cognome
                %span.score 11000
                %span.triangle.down 1
                %span.circle.green
                %span.circle.red
                %span.circle.green
                %span.circle.yellow
            .piano
              %img.imgResp{:src => "/assets/flor.png"}/
              .posizione{:style => "top: 112.5px;"}
                %span.chart # 12
                %span.user Nome Cognome
                %span.score 11000
                %span.triangle.down 1
                %span.circle.yellow
                %span.circle.red
                %span.circle.green
                %span.circle.yellow
            .piano
              %img.imgResp{:src => "/assets/flor.png"}/
              .posizione{:style => "top: 112.5px;"}
                %span.chart # 13
                %span.user Nome Cognome
                %span.score 11000
                %span.triangle.up 6
                %span.circle.green
                %span.circle.red
                %span.circle.green
                %span.circle.yellow
            .piano
              %img.imgResp{:src => "/assets/flor.png"}/
              .posizione{:style => "top: 112.5px;"}
                %span.chart # 14
                %span.user Nome Cognome
                %span.score 11000
                %span.triangle.down 1
                %span.circle.green
                %span.circle.red
                %span.circle.green
                %span.circle.yellow
            .piano
              %img.imgResp{:src => "/assets/flor.png"}/
              .posizione{:style => "top: 112.5px;"}
                %span.chart # 15
                %span.user Nome Cognome
                %span.score 11000
                %span.triangle.down 1
                %span.circle.green
                %span.circle.red
                %span.circle.green
                %span.circle.yellow
            .piano
              %img.imgResp{:src => "/assets/flor.png"}/
              .posizione{:style => "top: 112.5px;"}
                %span.chart # 16
                %span.user Nome Cognome
                %span.score 11000
                %span.triangle.down 1
                %span.circle.green
                %span.circle.yellow
                %span.circle.green
                %span.circle.yellow
            .piano
              %img.imgResp{:src => "/assets/flor.png"}/
              .posizione{:style => "top: 112.5px;"}
                %span.chart # 17
                %span.user Nome Cognome
                %span.score 11000
                %span.triangle.down 1
                %span.circle.green
                %span.circle.red
                %span.circle.green
                %span.circle.red
            .piano
              %img.imgResp{:src => "/assets/flor.png"}/
              .posizione{:style => "top: 112.5px;"}
                %span.chart # 18
                %span.user Nome Cognome
                %span.score 11000
                %span.triangle.down 1
                %span.circle.red
                %span.circle.red
                %span.circle.green
                %span.circle.yellow
            .piano
              %img.imgResp{:src => "/assets/flor.png"}/
              .posizione{:style => "top: 112.5px;"}
                %span.chart # 19
                %span.user Nome Cognome
                %span.score 1450
                %span.triangle.up + 2
                %span.circle.red
                %span.circle.red
                %span.circle.green
                %span.circle.red
            .piano.current-last
              %img.imgResp{:src => "/assets/flor-first.png"}/
              .posizione.lastpos{:style => "top: 112.5px;"}
                %span.chart # 20
                %span.user Nome Cognome
                %span.score 1280
                %span.triangle.down 4
                %span.circle.red
                %span.circle.red
                %span.circle.red
                %span.circle.red
          #Bottom
          / /div
    .container
      .row
        .col-md-12
          %a{:href => "#"} download classifica in PDF
          %p
            *Questo mese ti sei posizionato al XX posto.
            %a{:href => "#"} Scarica il PDF per la classifica totale
            %small *(solo per copnsulenti finanziari)
          %p
            %small La classifica è aggiornata al xx/xx/2017
  :javascript
    $(document).ready(function() {   
          
        //alert('ready');
                   
    });
    
    $(document).ready(function() {   
        $('#Loading').fadeTo( "slow", 0.00 );
        //alert('loaded');
        
        var brwH = $( window ).height();
        $('#House').height(brwH - 225);
        
        var wrapper = $('#House'),
        element = wrapper.find('.piano'),
        lastElement = wrapper.find('.piano:last-child'),
        lastElementTop = lastElement.position().top,
        elementsHeight = element.outerHeight(),
        scrollAmount = lastElementTop - 2 * elementsHeight + 150;
        
        /* positioning the viewport-house at the bottom */
        $('#House').animate({
            scrollTop: scrollAmount
        }, 1, function() {
            lastElement.addClass('current-last');
        });
        
        /* scrolling to the topo with delay */
        $('#House').delay(700).animate({
            scrollTop: - scrollAmount
        }, 5000, function() {
            lastElement.addClass('current-last');
        });
        
        
        /* calculate the info top position*/ 
        var infoH = $('.posizione.lastpos').height() / 2;
        var pianoH = $('.piano').height() / 2;
        var newPosition =  pianoH - infoH + "px";     
        $('.posizione').css('top', newPosition);
    });