#content.pageWrapper
  .container
    .row
      .col-md-12
        %h3
          Programma di Formazione “Esperti di Valore” Consulenti Finanziari 2017
          %br/
          Criteri di partecipazione
        %p
        %h3 Fattori abilitanti
        %ul
          %li
            Formazione online e in aula effettuata in base al programma disponibile su
            %a{:href => "http://www.cfiwbank.it", :style => "color:#000", :traget => "_blank"} www.cfiwbank.it
          %li Raccolta netta contabile positiva (Personale/Gruppo)
          %li Percentuale contratti di consulenza su contratti di negoziazione &gt;80%
          %li Percentuale di portafogli adeguati su portafogli in consulenza &gt;50%
        %h3 Partecipanti
        %ul
          %li Wealth Banker
          %li Consulenti Finanziari
          %li Manager
          %li Area Manager
        %h3 Periodo
        %ul
          %li Parte 1: GENNAIO - GIUGNO 2017
          %li Parte 2: LUGLIO - DICEMBRE 2017
        %h3 KPI Core
        %ul
          %li
            %b Raccolta Netta Gestita Allargata
            (1€ = 1 punto)
            %br/
            %b Clienti pre-assegnati e parcheggiati esclusi
            %br/
            %i (Fondi Comuni, Sicav, Gestioni Patrimoniali, Bancassurance Vita, Certificates in collocamento)
          %li
            %b Volume spese da Front
            (1€ = 5 punti)
            %br/
            %i (Tutti i prodotti a catalogo)
        %h3 Acceleratori
        %ul
          %li
            %b Operazioni su canale paperless/ IWMoney
            %br/
            %b Clienti pre-assegnati e parcheggiati esclusi
            %br/
            (1.000 punti per ogni operazione successiva alla 30a)
          %li
            %b Apertura di nuovi conti correnti
            (5.000 punti a conto)
            %br/
            %i (Tutte le forme tecniche)
        %h3 Statistiche produttività
        %ul
          %li
            %b> Parte 1
            \: GENNAIO – GIUGNO 2017
          %li
            %b> Parte 2
            \: LUGLIO – DICEMBRE 2017
          %li
            %b> Finale
            \: (P1 + P2)
        %h3 Statistiche produttività per categoria
        %ul
          %li
            %b Wealth Banker
            (pro capite)
          %li
            %b Consulenti Finanziari
          %li
            %b Manager
            (assoluta e pro capite)
          %li
            %b Area Manager
            (assoluta e pro capite)
        %h3 Location e partecipanti
        %ul
          %li
            Ottobre 2017:
            %b Londra &amp; Parigi
            (5 giorni x 4 notti)
            %br/
            %b 40
            Consulenti Finanziari |
            %b 2
            Wealth Banker |
            %b 2
            Manager |
            %b 2
            Area Manager
          %li
            Marzo 2018:
            %b New York
            (5 giorni x 3 notti)
            %br/
            %b 40
            Consulenti Finanziari |
            %b 2
            Wealth Banker |
            %b 2
            Manager |
            %b 2
            Area Manager
          %li
            Giugno 2018:
            %b Tokyo
            (6 giorni x 4 notti)
            %br/
            %b 17
            Consulenti Finanziari |
            %b 1
            Wealth Banker |
            %b 2
            Manager |
            %b 2
            Area Manager
        %h3 Note
        %ul
          %li E’ prevista la partecipazione di un accompagnatore con costi a carico.
          %li Possono partecipare al programma solo i Wealth Banker, Consulenti Finanziari, Manager e Area Manager attivi al 31 dicembre 2015.
          %li
            Per partecipare al programma di formazione è necessario:
            %ul
              %li
                concludere positivamente il 100% dei corsi obbligatori ed il 70% di tutti i corsi di formazione (obbligatori compresi)  ai quali il partecipante è iscritto su base mensile. Ai fini del superamento della percentuale sopraindicata
                verrà considerato mensilmente il monte ore dei corsi effettivamente svolti sul totale ore dei corsi ai quali il partecipante è iscritto
              %li essere in Raccolta Netta Positiva (Personale/Gruppo), in costanza di mandato e non essere in preavviso alla data dell’evento formativo.
          %li
            La Raccolta Netta complessiva è data dalla sommatoria delle seguenti voci rilevate dall’1 gennaio al 30 giugno 2017 (Parte 1) e dall’1 luglio al 31 dicembre 2017 (Parte 2), perfezionate nel corso dell’esercizio 2017: tutti i prodotti
            a catalogo (Diretta, Amministrata, Gestita e Assicurativa). Viene depurato l’effetto della Raccolta fatta su clientela “in parcheggio”.
          %li Il punteggio di Manager e Area Manager è il risultato della somma dei punti dei Consulenti Finanziari coordinati che partecipano al programma, più i propri.
          %li Per la determinazione della “Raccolta Netta” (Personale/Gruppo) sono escluse eventuali operazioni oggetto di trattative direzionali/istituzionali.
          %li
            La partecipazione alle diverse categorie è legata al numero dei Consulenti Finanziari coordinati alla data del 31 dicembre 2016 (Parte 1) e alla data 30 giugno 2017 (Parte 2):
            %ul
              %li Consulenti Finanziari: Consulenti Finanziari e Manager fino a 12 coordinati (escluso il Manager)
              %li Manager: oltre 13 Consulenti Finanziari coordinati (escluso il Manager).
          %li
            Per la classifica Manager e Area Manager pro capite, il punteggio verrà calcolato sul numero dei Consulenti Finanziari coordinati e attivi alla data di chiusura delle prima e seconda parte:
            %ul
              %li 30 giugno e 31 dicembre 2017.
          %li La scelta dei partecipanti agli eventi formativi oggetto del presente documento è a totale discrezione della Banca, a prescindere dalle statistiche di produttività singole o di gruppo.
  %footer
    .extendWrapper
      .container
        .row
          .col-md-6.col-xs-6 Copyright © 2017 IWBank S.p.A.
          .col-md-6.col-xs-6.text-right
            %a{:href => "https://www.iwbank.it/privacy", :target => "_blank"} Privacy
