#VideoWrapper
  %video.element-to-stretch{:autoplay => "", :controls => ""}
    %source{:src => "http://iwtothetop2017.it/videos/IWBank_R12b.mp4", :type => "video/mp4"}
      %source{:src => "http://iwtothetop2017.it/videos/IWBank_R12b.ogv", :type => "application/ogg"}
        %source{:src => "http://iwtothetop2017.it/videos/IWBank_R12b.webm", :type => "application/webm"}
